<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #04C582;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <button class="btn btn-primary" (click)="GetAllData()"> Refresh</button>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
      <div class="mb-3 row" *ngFor="let item of configureList;let i=index">
        <label [for]="'field'+i" class="col-sm-2 col-form-label">{{item}}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [id]="'field'+i">
        </div>
      </div>
  </div>